root = true

[*]
# 文字コードを UTF-8 にする
charset = utf-8
# 改行コードを LF にする
end_of_line = lf
# ファイルの末尾は改行で終わる
insert_final_newline = true
# 行末の空白を除去する
trim_trailing_whitespace = true
# タブ文字ではなく空白文字でインデントする
indent_style = space
# インデント幅を設定する
indent_size = 2
